table.adminTable {
    border: 0px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

    table.adminTable td, table.adminTable th {
        border: 1px solid #AAAAAA;
        padding: 5px 1px;
    }

    table.adminTable tbody td {
        text-align: center;
        font-size: 12px;
    }

    table.adminTable tr:nth-child(even) {
        background: #EFF5E7;
    }

    table.adminTable thead {
        background: #1C6EA4;
        background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
        border-bottom: 2px solid #444444;
    }

        table.adminTable thead th {
            text-align: center;
            font-size: 14px;
            font-weight: bold;
            color: #FFFFFF;
            border-left: 2px solid #D0E4F5;
        }

            table.adminTable thead th:first-child {
                border-left: none;
            }

    table.adminTable tfoot td {
        font-size: 15px;
    }

    table.adminTable tfoot .links {
        text-align: right;
    }

        table.adminTable tfoot .links a {
            display: inline-block;
            background: #1C6EA4;
            color: #FFFFFF;
            padding: 2px 8px;
            border-radius: 5px;
        }



#searchBox {
    width: 25%;
    position: relative;
    margin: 0 auto;
    border: 2px solid #153908;
    border-radius: 3px;
    text-align: center;
}

    #searchBox > div {
        margin-top: 10px;
    }

    #searchBox > div:first-child{
        padding-bottom: 10px;
        border-bottom: 1px groove #444444;
    }

        #searchBox > div > label {
            width: 10%;
            font-size: 16px;
        }

        #searchBox > div > input {
            float: right;
            border: 1px solid #dfdfdf;
            border-radius: 3px;
            width: 80%;
            margin-right: 10px;
        }

    #searchBox > [type=button] {
        margin-top: 10px;
        margin-bottom: 10px;
        color: white;
        background-color: #153908;
        width: 45%;
        border: 1px solid #153908;
        border-radius: 5px;
        cursor: pointer;
    }

    #searchBox > [type=button]:hover {
        background-color: #20520e;
    }