#facilitiesWrapper {
    width: 1280px;
    margin: 50px auto;
    font-family: NanumGothic, sans-serif;
    margin-bottom: 800px;
}

#followMouse {
    position: relative;
}
    #followMouse > span {
        position: absolute;
        right: 0;
        height: 150px;
        font-size: 11px;
        font-weight: 400;
        cursor: default;
        writing-mode: vertical-rl;
    }
@media only screen and (min-width: 320px) {
    #facilitiesWrapper {
        width: 320px;
    }
}

@media only screen and (min-width: 375px) {
    #facilitiesWrapper {
        width: 375px;
    }
}

@media only screen and (min-width: 425px) {
    #facilitiesWrapper {
        width: 425px;
    }
}

@media only screen and (min-width: 768px) {
    #facilitiesWrapper {
        width: 768px;
    }
}

@media only screen and (min-width: 1024px) {
    #facilitiesWrapper {
        width: 1024px;
    }
}

@media only screen and (min-width: 1280px) {
    #facilitiesWrapper {
        width: 1280px;
    }
}

.underBarBox {
    position: relative;
}

    .underBarBox > div:nth-of-type(1) {
        width: 38%;
        border-bottom: 1.5px solid #1e514f;
    }

    .underBarBox > div:nth-of-type(2) {
        width: 100%;
        border-bottom: 1px solid #d8d8d8;
    }

h2 {
    color: #507876;
    font-weight: 400;
}

#facilitiesWrapper p {
    font-family: 'Yu Gothic', sans-serif;
    word-spacing: 1px;
    line-height: 13px;
    font-weight: 400;
}

.detailBox{
    float: left;
    position: relative;
    width: 100%;
    margin-top: 50px;
    margin-bottom: 30px;
}

    .detailBox > div {
        position: relative;
        float: left;
    }

    .detailBox .imageBox{
        width: 40%;
    }

    .detailBox .imageBox img{
        width: 485px;
    }

    .detailBox .captionBox{
        width: 60%;
    }

.captionBox img {
    margin-top: 70px;
    width: 370px;
    height: 245px;
}

