
#mainReference {
    z-index: 9999;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    /*background: url(../images/mainReference.jpg);
    background-size: cover;*/
}



#refImage{
    width: 100%;
    height: 100%;
}

#refImage > img{
    position: absolute;
    top: 0;
}

#mainSubject {
    margin: 0 auto;
    position: absolute;
    left: 43%;
    top: 35%;
}

    #mainSubject > * {
        width: 250px;
        text-align: center;
    }

@media only screen and (min-width: 320px) {
    #mainSubject {
        left: 14%;
    }
    #refImage > img {
        width: 240%;
        height: 115%;
        left: -60%;
    }
}

@media only screen and (min-width: 375px) {
    #mainSubject {
        left: 18%;
    }

    #refImage > img {
        width: 200%;
        left: -39%;
    }
}

@media only screen and (min-width: 425px) {
    #mainSubject {
        left: 22%;
    }
    #refImage > img {
        width: 180%;
        left: -35%;
    }
}

@media only screen and (min-width: 768px) {
    #mainSubject {
        left: 35%;
    }
    #refImage > img {
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
    }
}

@media only screen and (min-width: 1024px) {
    #mainSubject {
        left: 40%;
    }
}

@media only screen and (min-width: 1280px) {
    #mainSubject {
        left: 45%;
    }
}