html, body {
    height: 100%;
    margin: 0;
}
body > .wrapper {
    min-height: 100%;
    margin: 0 auto -30px;
}
body > .footer,
body > .wrapper > .push {
    position: relative;
    margin-top: 30px;
}

.signature {
    font-weight: 100;
    color: #000;
    letter-spacing: 4px;
    font-size: 10px;
    width: 100vw;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0px;
    margin-top: 10px;
}

.logo img{
    cursor: pointer;
}