
.topBanner {
    /*width: calc(100% - 60px);*/
}

    .topBanner img {
        width: 100%;
        opacity: 0.1;
    }

.banner h1 {
    font-size: 37px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
}


#wrapper {
    width: 1280px;
    margin: 0 auto;
    border-top: 1px solid #d0d0d0;
    padding-top: 10px;
}

.locationDoc {
    margin-top: 0px;
    margin: 0 auto;
}

#addr {
    padding-top: 10px;
    margin-top: 20px;
    border-top: 1px solid #d0d0d0;
    border-bottom: 1px solid #d0d0d0;
}

.locationDoc img{
    background-size: auto;
}