
.topBanner {
    /*width: calc(100% - 60px);*/
}

    .topBanner img {
        width: 100%;
        opacity: 0.1;
    }

.banner h1 {
    font-size: 37px;
    line-height: 1;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 34px;
}


#wrapper {
    width: 1280px;
    margin: 0 auto;
    border-top: 1px solid #d0d0d0;
    padding-top: 10px;
}

#map {
    width: 100%;
    height: 400px;
}


.locationDoc {
    width: 70%;
    margin: 0 auto;
}

    .locationDoc > div {
        width: 100%;
        padding-top: 10px;
        margin-top: 20px;
        border-top: 1px solid #d0d0d0;
        border-bottom: 1px solid #d0d0d0;
    }

.locationImg {
    width: 100%;
    max-width: 1024px;
    height: auto;
    margin: 0 auto;
}
