body {
    background: url(../building/day2.jpg) 0 0 no-repeat;
    background-size: cover;
    -webkit-transition: background 2s;
    -moz-transition: background 2s;
    -o-transition: background 2s;
    transition: background 2s;
    width: 100%;
}

.footer,
.sticky {
    background-color: transparent !important;
    border-bottom: none !important;
    bottom: 0;
}

#fullBack {
    width: 100%;
    height: calc(100% - 270px);
}

.sticky nav ul a {
    color: #fff;
}

.footer span, .footer .signature {
    color: #fff !important;
}

#imageBox{
    display: none;
}

#seogwipean {
    position: absolute;
    top: 40%;
    right: 5%;
    cursor: none;
}
#seogwipean > * {
    cursor: none;
}
    #seogwipean > * {
        font-family: 'NanumGothic', sans-serif;
        color: #fff;
        text-align: right;
        font-size: 65px;
        letter-spacing: 0px;
        line-height: 20px;
    }

@media only screen and (max-width: 426px) {
    #seogwipean > * {
        font-size: 55px;
    }

    #fullBack {
        width: 100%;
        height: calc(100% - 500px);
    }

    .bookArea-wrap{
        display: none;
    }

    footer.footer{
        display: none !important;
    }
}

.bookArea-wrap {
    background: transparent !important;
}

#bookArea {
    background: transparent !important;
}

    #bookArea .bookIns input {
        margin-bottom: 0 !important;
    }

    #bookArea .bookIns .fb_rsvn button {
        background: #1e514f !important;
        color: #fff;
    }

    #bookArea input, #bookArea select {
        background: transparent !important;
        color: #fff !important;
    }
        #bookArea input::placeholder {
            color: #fff !important;
        }


    #bookArea option{
        color: #000 !important;
    }

body > .footer {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    margin-top: 0px; 
    background-color: #1e514f;
    padding-top: 15px;
    padding-bottom: 0px;
}

#backgroundFill {
    width: 100%;
    height: 100%;
    position: absolute;
    background: black;
    opacity: 0.5;
    border-radius: 15px;
}

#videoPop {
    width: 854px;
    height: 480px;
    position: absolute;
    top: 10%;
    left: 25%;
    margin: 0 auto;
    display: none;
    z-index: 1;
}

#videoX {
    position: relative;
    float: right;
    cursor: pointer;
}

    #videoX > img {
        width: 25px;
        height: 25px;
    }

#videoChkBox {
    position: relative;
    float: left;
    width: 100%;
}

    #videoChkBox > div:first-of-type {
        width: 175px;
        height: 21px;
        background-color: black;
        opacity: 0.5;
    }

    #videoChkBox > div:last-of-type {
        position: absolute;
        left: 0;
        top: 0;
    }

@media only screen and (max-width: 425px) {
    #videoPop {
        width: 415px;
        height: 325px;
        top: 20%;
        left: 0;
    }
}

@media only screen and (max-width: 375px) {
    #videoPop {
        width: 365px;
        height: 300px;
        top: 20%;
        left: 0;
    }
}

@media only screen and (max-width: 320px) {
    #videoPop {
        width: 310px;
        height: 300px;
        top: 20%;
        left: 0;
    }
}