body {
    background: url(../building/day2.jpg) 0 0 no-repeat;
    background-size: cover;
    -webkit-transition: background 2s;
    -moz-transition: background 2s;
    -o-transition: background 2s;
    transition: background 2s;
}

.sticky {
    background-color: transparent !important;
    border-bottom: none !important;
}

    .sticky nav ul a {
        color: #fff;
    }

.footer span, .footer .signature {
    color: #fff !important;
}

#imageBox{
    display: none;
}