body {
    background: url(../building/day2.jpg) 0 0 no-repeat;
    background-size: cover;
    -webkit-transition: background 2s;
    -moz-transition: background 2s;
    -o-transition: background 2s;
    transition: background 2s;
    width: 100%;
}

.footer,
.sticky {
    background-color: transparent !important;
    border-bottom: none !important;
    bottom: 0;
}

#fullBack {
    width: 100%;
    height: calc(100% - 270px);
}

.sticky nav ul a {
    color: #fff;
}

.footer span, .footer .signature {
    color: #fff !important;
}

#imageBox{
    display: none;
}

#seogwipean {
    position: absolute;
    top: 40%;
    right: 5%;
}

    #seogwipean > * {
        font-family: 'NanumGothic', sans-serif;
        color: #fff;
        text-align: right;
        font-size: 65px;
        letter-spacing: 0px;
        line-height: 20px;
    }

@media only screen and (max-width: 426px) {
    #seogwipean > * {
        font-size: 55px;
    }

    #fullBack {
        width: 100%;
        height: calc(100% - 500px);
    }

    .bookArea-wrap{
        display: none;
    }

    footer.footer{
        display: none !important;
    }
}

.bookArea-wrap {
    background: transparent !important;
}

#bookArea {
    background: transparent !important;
}

    #bookArea .bookIns input {
        margin-bottom: 0 !important;
    }

    #bookArea .bookIns .fb_rsvn button {
        background: #4B697C !important;
        color: #fff;
    }

    #bookArea input, #bookArea select {
        background: transparent !important;
        color: #fff !important;
    }
        #bookArea input::placeholder {
            color: #fff !important;
        }


    #bookArea option{
        color: #000 !important;
    }

body > .footer {
    width: 100%;
    display: grid;
    grid-template-columns: 33% 34% 33%;
    margin-top: 0px; 
    background-color: #1e514f;
    padding-top: 15px;
    padding-bottom: 0px;
}