.main_h {
    position: fixed;
    top: 0px;
    max-height: 70px;
    z-index: 999;
    width: 100%;
    padding-top: 17px;
    background: none;
    overflow: hidden;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    opacity: 0;
    top: -100px;
    padding-bottom: 6px;
    font-family: "Montserrat", sans-serif;
}

@media only screen and (max-width: 766px) {
    .main_h {
        padding-top: 25px;
    }

    .open-nav {
        max-height: 400px !important;
    }

    .booking {
        display: none;
    }
}

@media only screen and (max-width: 770px) {
    nav ul li a{
        display: none;
    }
}
@media only screen and (min-width: 771px) {
    nav ul li a {
        display: block;
    }
}

.open-nav .mobile-toggle {
    transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
}

.sticky {
    background-color: rgba(255, 255, 255, 0.93);
    opacity: 1;
    top: 0px;
    border-bottom: 1px solid gainsboro;
}

@font-face {
    font-family: 'lighthouse_personal_useRg';
    src: url('../fonts/lighthousepersonaluse-webfont.woff2') format('woff2'), url('../fonts/lighthousepersonaluse-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.logo {
    width: 50px;
    /*color: #8f8f8f;*/
    color: #212121;
    float: left;
    display: block;
    margin-top: -0.5%;
    line-height: 1;
    margin-bottom: 35px;
    position: absolute;
    left: -30% !important;
}

@media screen and (min-width : 320px) {
    .logo {
        margin-top: -2.5%;
    }
}

@media screen and (min-width : 750px) {
    .logo {
        margin-top: -0.5%;
    }
}

@media screen and (min-width : 1224px) {
    .logo {
        margin-top: -0.5%;
    }
}

.logo > span:first-child {
    margin-left: 70%;
    font-size: 15px;
    font-family: RomanD;
    text-transform: uppercase;
}

.logo > span:last-child {
    font-size: 30px;
    font-family: lighthouse_personal_useRg;
}

@media only screen and (max-width: 766px) {
    .logo {
        float: none;
    }
}

nav {
    float: right;
    width: 100%;
}

@media only screen and (max-width: 766px) {
    nav {
        width: 100%;
    }
}

nav ul {
    list-style: none;
    overflow: hidden;
    text-align: right;
    float: right;
    padding-right: 25%;
}

@media only screen and (max-width: 766px) {
    nav ul {
        padding-top: 0px;
        margin-bottom: 22px;
        float: left;
        text-align: center;
        width: 100%;
    }
}

nav ul li {
    display: inline-block;
    margin-left: 35px;
    line-height: 1.5;
}

@media only screen and (max-width: 766px) {
    nav ul li {
        width: 100%;
        padding: 7px 0;
        margin: 0;
    }
}

nav ul a {
    color: #212121;
    text-transform: uppercase;
    font-size: 12px;
}

@media only screen and (min-width: 90%) {
    .booking{
        display: block;
    }
}

.booking {
    width: 100%;
    position: absolute;
}

    .booking > a:hover {
        color: #19445f;
        font-weight: 800;
        background-color: #fac2c3;
    }

    .booking > a {
        width: 140px;
        cursor: pointer;
        position: absolute;
        margin-left: 90%;
        right: 10px;
        display: inline-block;
        padding: 0 40px;
        height: 40px;
        border-radius: 0 0 3px 3px;
        background-color: #19445f;
        font-size: 15px;
        line-height: 40px;
        color: #fff;
        -webkit-transition: background-color 0.05s ease-in-out;
        -moz-transition: background-color 0.05s ease-in-out;
        -o-transition: background-color 0.05s ease-in-out;
        transition: background-color 0.05s ease-in-out;
    }

.mobile-toggle {
    display: none;
    cursor: pointer;
    font-size: 20px;
    position: absolute;
    right: 22px;
    top: 15%;
    width: 30px;
    -webkit-transition: all 200ms ease-in;
    -moz-transition: all 200ms ease-in;
    transition: all 200ms ease-in;
}

@media only screen and (max-width: 766px) {
    .mobile-toggle {
        display: block;
    }
}

.mobile-toggle span {
    width: 30px;
    height: 4px;
    margin-bottom: 6px;
    border-radius: 1000px;
    background: #8f8f8f;
    display: block;
}

.row {
    width: 100%;
    max-width: 940px;
    margin: 0 auto;
    position: relative;
    padding: 0 2%;
}

* {
    box-sizing: border-box;
}

body {
    color: #8f8f8f;
    background: white;
    /*font-family: "Cardo", serif;*/
    font-weight: 300;
    -webkit-font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

h1 {
    font-size: 30px;
    line-height: 1.8;
    text-transform: uppercase;
    font-family: "Montserrat", sans-serif;
}

p {
    margin-bottom: 20px;
    font-size: 17px;
    line-height: 2;
}

.content {
    padding: 50px 2% 250px;
}

section.container {
    width: 100%;
    height: 100%;
}

.hero {
    position: relative;
    /*background: url(../images/main.jpg) no-repeat center center fixed;*/
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    text-align: center;
    color: #fff;
    padding-top: 450px;
    min-height: 700px;
    width: 100%;
    height: 100%;
    /*letter-spacing: 2px;*/
}

.mouse {
    display: block;
    margin: 0 auto;
    width: 26px;
    height: 46px;
    border-radius: 13px;
    border: 2px solid #FFFFFF;
    position: absolute;
    bottom: 40px;
    position: absolute;
    left: 51%;
    margin-left: -26px;
}

    .mouse span {
        display: block;
        margin: 6px auto;
        width: 2px;
        height: 2px;
        border-radius: 4px;
        background: #e8f380;
        border: 1px solid transparent;
        -webkit-animation-duration: 1s;
        animation-duration: 1s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        -webkit-animation-name: scroll;
        animation-name: scroll;
    }

@-webkit-keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }
}

@keyframes scroll {
    0% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    100% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }
}

/* 메인 이미지 로고 텍스트 */
.hero h1 {
    line-height: 45px;
}

.logoHotel {
    font-weight: 400;
    font-family: RomanD;
    text-transform: uppercase;
}

.logoSeogwipean {
    font-weight: 200;
    font-family: lighthouse_personal_useRg;
    text-transform: none;
}

@media screen and (min-width : 320px) {
    .logoHotel {
        font-size: 15px;
    }

    .logoSeogwipean {
        font-size: 35px;
    }
}

@media screen and (min-width : 480px) {
    .logoHotel {
        font-size: 20px;
    }

    .logoSeogwipean {
        font-size: 50px;
    }
}

@media screen and (min-width : 1224px) {
    .logoHotel {
        font-size: 25px;
    }

    .logoSeogwipean {
        font-size: 65px;
    }
}
/* 메인 이미지 로고 텍스트 */

.content p {
    white-space: pre-line;
    word-break: keep-all;
}
