@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <title>COUPON</title>
    <style>
        html {
            -webkit-text-size-adjust: none;
        }

        :root {
            --myColor: #333;
        }

        body {
            position: fixed;
            overflow: hidden;
            touch-action: none;
        }

        .viewer {
            width: 100vw;
            max-width: 580px;
            height: 100vh;
            overflow: hidden;
            margin: 0 auto;
        }

        .viewer > div{
            margin: 0 auto;
        }

        .body {
            background-color: var(--myColor);
        }
    </style>
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
</head>
<body id="body">
    <div class="viewer">
        <div>
            <img src="~/img/seogwipeanbakery.png" />
            <h1>쿠폰 발급</h1>
            <button>쿠폰 발급</button>
        </div>
    </div>
    <script type="text/javascript" src="~/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        function setScreenSize() {
            let vh = window.innerHeight * 0.01;
            document.documentElement.style.setProperty('--vh', `${vh}px`);
        }
        $(function () {
            setScreenSize();
        });
        window.addEventListener('resize', () => setScreenSize());
        disableScroll = () => {
            document.querySelector('body').addEventListener('touchmove', this.removeEvent, { passive: false });
            document.querySelector('body').addEventListener('onclick', this.removeEvent, { passive: false });
            document.querySelector('body').addEventListener('mousewheel', this.removeEvent, { passive: false });
        }
        removeEvent = e => {
            e.preventDefault();
            e.stopPropagation();
        }
        enableScroll = () => {
            document.querySelector('body').removeEventListener('touchmove', this.removeEvent);
            document.querySelector('body').removeEventListener('onclick', this.removeEvent);
            document.querySelector('body').removeEventListener('mousewheel', this.removeEvent);
        }
    </script>
</body>
</html>