@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <title>SEOGWIPEAN PROJECT </title>
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />*@
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon solid major fa-cloud"></span>
            <h1>
                서귀피안 베이커리 보래드 베이커스 호텔 서귀피안<br />
                더비치하우스 더 비치 하우스 
            </h1>
            <p>
                SPP<br />
                서귀피안 프로젝트
            </p>
            <ul class="actions special">
                <li><a href="/Kakao/login" class="button scrolly">쿠폰 발급</a></li>
            </ul>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>