@{
    Layout = null;
}

<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta property="og:title" content="Seogwipean Project Coupon">
    <meta name="description" content="Seogwipean Project Coupon">
    <meta property="og:description" content="Seogwipean Project Coupon">
    <meta property="og:image" content="https://seogwipean.net/img/seogwipeanbakery.png">
    <meta property="og:url" content="https://seogwipean.net/">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta charset="utf-8" />
    @*<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />*@
    
    <link rel="stylesheet" href="~/css/main.css" />
    <script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">
    <!-- Header -->
    <section id="header">
        <div class="inner">
            <span class="icon solid major fa-cloud"></span>
            <h1>
                서귀피안 베이커리 보래드 베이커스 호텔 서귀피안<br />
                더비치하우스 더 비치 하우스 
            </h1>
            <p>
                SPP<br />
                서귀피안 프로젝트
            </p>
            <ul class="actions special">
                <li><a href="/Kakao/login" class="button scrolly">쿠폰 발급</a></li>
            </ul>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>