@{ 
    Layout = null;
    @model Seogwipean.Model.CouponViewModels.CouponViewModel
// 미사용: 0, 사용: 1, 유효기간 지남: 9"
}
<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0">
    <meta property="og:title" content="Seogwipean Project Coupon">
    <meta name="description" content="Seogwipean Project Coupon">
    <meta property="og:description" content="Seogwipean Project Coupon">
    <meta property="og:image" content="https://seogwipean.net/img/pav.png">
    <meta property="og:url" content="https://seogwipean.net/">
    <link rel="apple-touch-icon" sizes="57x57" href="~/favicon/spp/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="~/favicon/spp/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="~/favicon/spp/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="~/favicon/spp/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="~/favicon/spp/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="~/favicon/spp/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="~/favicon/spp/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="~/favicon/spp/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="~/favicon/spp/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="~/favicon/spp/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="~/favicon/spp/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="~/favicon/spp/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="~/favicon/spp/favicon-16x16.png">
    <link rel="manifest" href="~favicon/spp/manifest.json">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicon/spp/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="~/favicon/spp/ms-icon-144x144.png">
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
    <link href="~/css/custom-alert.css" rel="stylesheet" />
</head>
<body class="is-preload">
    @if (Model.Status == 0)
    {
        @if (Model.ExpireDate > new DateTime())
        {
            <section id="header" class="header2">
                <div class="inner">

                    <span class="icon solid major fa-cloud nocursor"></span>
                    <h1 class="nocursor">
                        서귀피안 베이커리 보래드 베이커스 호텔 서귀피안<br />
                        더비치하우스 더 비치 하우스
                    </h1>
                    <div>
                        <h3>사용처: </h3>
                        <h3>보래드 베이커스, 서귀피안 베이커리</h3>
                        @{

                            var percen = Model.Percentage;
                            if (Model.Percentage < 1)
                            {
                                percen = 20;
                            }
                        }
                        <h4>할인율 : @percen %</h4>
                        <h4>쿠폰 사용 기한 : @Model.ExpireDate.ToLongDateString()</h4>
                    </div>
                    <p class="nocursor">
                        SPP<br />
                        서귀피안 프로젝트
                    </p>
                    <ul class="actions special">
                        <li><a href="#" id="btnUse" class="button scrolly">쿠폰 사용</a></li>
                    </ul>
                </div>
            </section>
        }
        else
        {
            <section id="header" class="header2">
                <div class="inner">

                    <span class="icon solid major fa-cloud nocursor"></span>
                    <h1 class="nocursor">
                        서귀피안 베이커리 보래드 베이커스 호텔 서귀피안 더비치하우스 더 비치 하우스
                    </h1>
                    <div>
                        <h3>사용처: 보래드 베이커스, 서귀피안 베이커리</h3>
                        <h4>쿠폰 사용 기한 : @Model.ExpireDate.ToLongDateString()</h4>
                        <h4>사용 기한이 지난 쿠폰입니다.</h4>
                    </div>
                    <p class="nocursor">
                        SPP<br />
                        서귀피안 프로젝트
                    </p>
                    <ul class="actions special">
                        <li><a href="#" class="button disabled">사용 불가</a></li>
                    </ul>
                </div>
            </section>
        }

    }
    else if (Model.Status == 1)
    {
        <section id="header" class="header3">
            <div>
                <img src="~/img/SPP LOGO.png" width="300px" />
            </div>
            <div class="inner">
                <p>
                    SPP 서귀피안 프로젝트
                </p>
                <div class="actions special">
                    <h2 style="color: black;">
                        쿠폰 사용 완료!<br />
                        이용해주셔서 감사합니다.<br />
                    </h2>
                    <h3 style="color: black !important;">
                        사용일자: @Model.UseDate.Value.ToShortDateString()
                    </h3>
                </div>
            </div>
        </section>
    }

    <section id="footer">
        <div><span>SEOGWIPEAN PROJECT</span></div>
        <span class="signature">Copyrightⓒ 2021. <a>B&LEE World Co., Ltd</a>. All rights reserved.</span>
    </section>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/lib/custom-alert.js"></script>
    <script type="text/javascript">
        new customAlert();

        $("#btnUse").click(function () {

            var btnCancel = "<button class='btn custom-alert btn_cancel' style='margin-left: 10px;' onclick='$(`#customalert`).hide(); $(`#customalert-overlay`).hide();$(`.btn_cancel`).remove();'>취소</button>";
            $("#customalert .footer").append(btnCancel);
            alert("주의!<br/>직원 외 사용시 쿠폰의 복구가 불가능합니다. <br/>직원이 사용 버튼을 누르고 있습니까?", function () {
                window.location.href = "/Coupon/Use";
            });
        });
    </script>
</body>
</html >
