@{ 
    Layout = null;
}
<!DOCTYPE HTML>
<html>
<head>
    <title>Photon by HTML5 UP</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/css/main.css" />
    <noscript><link rel="stylesheet" href="~/css/noscript.css" /></noscript>
</head>
<body class="is-preload">

    <section id="header">
        <div class="inner">
            <span class="icon solid major fa-cloud"></span>
            <h1>
                서귀피안 베이커리 보래드 베이커스 호텔 서귀피안<br />
                더비치하우스 더 비치 하우스
            </h1>
            <p>
                SPP<br />
                서귀피안 프로젝트
            </p>
            <ul class="actions special">
                <li><a href="/Kakao/login" class="button scrolly">쿠폰 사용</a></li>
            </ul>
        </div>
    </section>


    <!-- One -->
    <section id="one" class="main style1">
        <div class="container">
            <div class="row gtr-150">
                <div class="col-6 col-12-medium">
                    <header class="major">
                        <h2>
                            Lorem ipsum dolor adipiscing<br />
                            amet dolor consequat
                        </h2>
                    </header>
                    <p>Adipiscing a commodo ante nunc accumsan et interdum mi ante adipiscing. A nunc lobortis non nisl amet vis sed volutpat aclacus nascetur ac non. Lorem curae et ante amet sapien sed tempus adipiscing id accumsan.</p>
                </div>
                <div class="col-6 col-12-medium imp-medium">
                    <span class="image fit"><img src="images/pic01.jpg" alt="" /></span>
                </div>
            </div>
        </div>
    </section>

    <!-- Scripts -->
    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.scrolly.min.js"></script>
    <script src="~/js/browser.min.js"></script>
    <script src="~/js/breakpoints.min.js"></script>
    <script src="~/js/util.js"></script>
    <script src="~/js/main.js"></script>

</body>
</html>