
<div class="hero">
    <h1>
        <span class="logoHotel">Hotel</span><br />
        <span class="logoSeogwipean">Seogwipean</span>
    </h1>
    <div class="mouse">
        <span></span>
    </div>
</div>

<!------------------------ 메인 ------------------------>
<div class="row content" style="text-align: center;">
    <h1 class="sec01">호텔 서귀피안에 방문해주셔서 감사합니다.</h1>
    <p>
        저희 호텔은 젊은 감성으로 섹시하고 아름다우며 젠틀한 호텔입니다.
        딱 보시면 아시겠지만요 ^^
        한번 오시는 순간 단골 손님이 될거라는거에 손모가지를 걸죠.
        쫄리면 뒈지시던가~
    </p>
</div>
