@section Head{
    <link href="~/css/smoothMain.css" type="text/css" rel="stylesheet" />
    <link href="https://s3.ap-northeast-2.amazonaws.com/static.wingsbooking.com/html/theme/theme01/_css/wings.booking.css" type="text/css" rel="stylesheet" charset="utf-8" >
}

<video autoplay muted loop id="mainVideo">
    <source src="~/videos/main1920reup.mp4" type="video/mp4">
    현재 사용중인 브라우저에서는 동영상 재생이 불가능합니다.
</video>
<div id="fullBack"></div>
<div class="bookArea-wrap">
    <div id="bookArea" class="wings-fast-book">
        <div id="backgroundFill"></div>
    </div>
</div>

<!------------------------ 메인 종료 ------------------------>

@section EndBody{
    <script src="~/lib/html5lightbox.js"></script>
    <script src="~/lib/jquery.cookie.js"></script>
    <script type="text/javascript" charset="utf-8" src="~/lib/wings.booking.js"></script>
    <script type="text/javascript">
        var backgroundCnt = 0;
        $(function () {
            $("body").css("overflow-y", "hidden");
            $(".logo img").attr("src", "../images/headerLogo.png");
            $("#instaBtn").attr("src", "../images/whiteInsta.png");
            $("#faceBtn").attr("src", "../images/whiteFace.png");
            wscv.set({ "hotelId": "SGP1", "theme": "theme01", "type": "horizontal" });
            wscv.create(".wings-fast-book", { lang: 'ko' });
        });
    </script>
}