@section Head{
    <link href="~/css/fullclip.css" rel='stylesheet' type='text/css'>
}

<section class="container">
    <div class="hero">
        <div class="fullBackground"></div>
        <!-- 명칭 제거시 h2 제거-->
        @*<h2 class="caption">
            <span class="logoHotel">Hotel</span><br />
            <span class="logoSeogwipean">Seogwipean</span>
        </h2>*@
        <!-- 명칭 제거시 h2 제거-->
        <div class="mouse">
            <span></span>
        </div>
    </div>
</section>

<!-------------------------- 메인 --------------------------->
@*<section id="main" class="mainContents">
    <div class="content" style="text-align: center;">
        <h1 class="sec01">당신도 서귀포에 반하게 될 거에요.</h1>
        <p>
        </p>
    </div>
</section>*@

<!------------------------ 메인 종료 ------------------------>

@section EndBody{
    <script src="~/lib/fullclip.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        // 사진 사이즈 재조정
        var $width = screen.width;
        var $height = screen.height - 220;
        $(window).on('load', function () {
            $("section.container").css("width", $width).css("height", $height);
        });
        $('.fullBackground').fullClip({
            images: ['../building/day1.jpg', '../building/day2.jpg', '../building/day3.jpg', '../building/night2.jpg',
                '../building/night1.jpg', '../building/night3.jpg', '../building/day4.jpg', '../building/day5.jpg', ],
            transitionTime: 1000,
            wait: 3000
        });
    </script>
}