@section Head{
    <link href="~/css/fullclip.css" rel='stylesheet' type='text/css'>
    <link href="~/css/smoothMain.css" rel="stylesheet" />
}

<div id="imageBox" style="display: none;">
    <img id="img1" src="~/building/day2.jpg" />
    <img id="img2" src="~/building/day3.jpg" />
    <img id="img3" src="~/building/night2.jpg" />
    <img id="img4" src="~/building/night3.jpg" />
</div>

<section class="container">
    <div class="hero">
        <div class="fullBackground"></div>
        @*<div class="mouse">
                <span></span>
            </div>*@
    </div>
</section>

<!------------------------ 메인 종료 ------------------------>

@section EndBody{
    <script type="text/javascript">
        var backgroundCnt = 0;

        $(function () {
            $(".logo img").attr("src", "../images/whiteLogo.png");
            $("#instaBtn").attr("src", "../images/whiteInsta.png");
            $("#faceBtn").attr("src", "../images/whiteFace.png");
            fnRepeat();
        });

        function fnRepeat() {
            setTimeout(function () {
                fnRepeat();
            }, 4000);
            var $img1 = $("#img1").attr("src");
            var $img2 = $("#img2").attr("src");
            var $img3 = $("#img3").attr("src");
            var $img4= $("#img4").attr("src");
            switch (backgroundCnt) {
                case 0: { $("body").css("background", `url(${$img1}) 0 0 no-repeat`); $("body").css("background-position-y", "60%"); break; }
                case 1: { $("body").css("background", `url(${$img2}) 0 0 no-repeat`); $("body").css("background-position-y", "30%");break; }
                case 2: { $("body").css("background", `url(${$img3}) 0 0 no-repeat`); $("body").css("background-position-y", "20%");break; }
                case 3: { $("body").css("background", `url(${$img4}) 0 0 no-repeat`); $("body").css("background-position-y", "55%"); backgroundCnt = 0; break; }
            }
            backgroundCnt++;
            $("body").css("background-size", "cover");
        }

    </script>
}