@{
}
@section Head{
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ix17pnbt29"></script>
}

<div id="map" style="width:100%;height:400px;"></div>
<div class="navWithBus">

</div>


@section EndBody{

    <script>

        var zoomSize = 12;
        var marker = null;
        var iconImage = '/images/mapLogo.png';

        var mapOptions =
        {
            center: new naver.maps.LatLng(33.244914, 126.590505),
            zoom: zoomSize
        };
        var map = new naver.maps.Map('map', mapOptions);

        var fixedMarker = new naver.maps.Marker({
            position: new naver.maps.LatLng(33.244672, 126.590510),
            map: map
        });

        function fnMarkerUpdate() {
            if (zoomSize > 11) {
                marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(33.244914, 126.590505),
                    icon: {
                        url: iconImage,
                        scaledSize: new naver.maps.Size(100, 28)
                    },
                    animation: naver.maps.Animation.DROP,
                    map: map
                });
            }
            else {
                marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(33.244914, 126.590505),
                    icon: {
                        url: iconImage,
                        scaledSize: new naver.maps.Size(50, 14)
                    },
                    map: map
                });
            }
        }

        function showMarker() {
            if (marker.setMap()) return;
            marker.setMap(map);
        }

        function hideMarker() {
            if (!marker.setMap()) return;
            marker.setMap(null);
        }

        fnMarkerUpdate();
        naver.maps.Event.addListener(map, 'zoom_changed', function (i) {
            zoomSize = i;
            hideMarker();
            if(zoomSize > 10)
                fnMarkerUpdate();
        });

    </script>
}