@{
}
@section Head{
    <link href="~/css/location.css" rel="stylesheet" />
    <script type="text/javascript" src="https://openapi.map.naver.com/openapi/v3/maps.js?ncpClientId=ix17pnbt29"></script>
}

    <div id="location_wrapper">
        <div id="telBox">
            <span>Tel. 064.735.1453</span>
        </div>
        <div id="banner">
            <h2>오시는 길</h2>
        </div>
        <div id="locationText">
            <span>제주특별자치도 서귀포시 보목로 64번길 178 (보목동 1453)</span><br />
        </div>

        <div id="map"></div>

        <div id="byVehicle">
            <div>
                <h2>대중교통</h2>
            </div>
            <div>
                <div>
                    <h3>공항버스</h3>
                </div>

                <p>제주국제공항 출발 > 5번 GATE > 600번 공항 버스 정류장으로 이동 ></p>
                <p>600번 버스 승차 > 33개 정류장 이동 > 서귀포 칼 호텔(종점) 하차 ></p>
                <p>도보 약 1.1km 직진 > 호텔 서귀피안</p>
            </div>

            <div>
                <div>
                    <h3>일반버스</h3>
                </div>

                <p>제주국제공항 출발 > 5번 GATE > 버스 181번 탑승 ></p>
                <p>서귀포 환승 정류장 하차 > 간선 버스 520(효돈중)(중앙로터리) 승차 > </p>
                <p>라임오렌지빌 정류장 하차 >도보 약 350m 직진 > 호텔 서귀피안</p>
            </div>
        </div>

    </div>


@section EndBody{
    <script>
        $(function () {
            if (screen.width <= 425) {
                $("#location_wrapper").css("width", screen.width);
            }
        });

        var zoomSize = 6;
        var marker = null;
        var iconImage = '/images/mapLogo.png';

        var mapOptions =
        {
            center: new naver.maps.LatLng(33.244914, 126.590505),
            zoom: zoomSize
        };
        var map = new naver.maps.Map('map', mapOptions);

        var fixedMarker = new naver.maps.Marker({
            position: new naver.maps.LatLng(33.244672, 126.590510),
            map: map
        });

        function fnMarkerUpdate() {
            if (zoomSize > 11) {
                marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(33.244914, 126.590505),
                    //icon: {
                    //    url: iconImage,
                    //    scaledSize: new naver.maps.Size(100, 28)
                    //},
                    animation: naver.maps.Animation.DROP,
                    map: map
                });
            }
            else {
                marker = new naver.maps.Marker({
                    position: new naver.maps.LatLng(33.244914, 126.590505),
                    //icon: {
                    //    url: iconImage,
                    //    scaledSize: new naver.maps.Size(50, 14)
                    //},
                    map: map
                });
            }
        }

        function showMarker() {
            if (marker.setMap()) return;
            marker.setMap(map);
        }

        function hideMarker() {
            if (!marker.setMap()) return;
            marker.setMap(null);
        }

        //fnMarkerUpdate();
        naver.maps.Event.addListener(map, 'zoom_changed', function (i) {
            zoomSize = i;
            //hideMarker();
            //if (zoomSize > 10)
            //    fnMarkerUpdate();
        });

    </script>
}
