@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <link href='https://fonts.googleapis.com/css?family=Montserrat|Cardo' rel='stylesheet' type='text/css'>
    <link href='~/css/test.css' rel='stylesheet' type='text/css'>
    <header class="main_h">
        <div class="row">
            <a class="logo" href="#">Seogwipean</a>

            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                <ul>
                    <li><a href=".sec01">Menu 01</a></li>
                    <li><a href=".sec02">Menu 02</a></li>
                    <li><a href=".sec03">Menu 03</a></li>
                    <li><a href=".sec04">Menu 04</a></li>
                </ul>
            </nav>
        </div> <!-- / row -->
    </header>
    <div class="hero">
        <h1><span>호~뗄 서귀피안</span><br>Hotel Seogwipean</h1>
        <div class="mouse">
            <span></span>
        </div>
    </div>
    <div class="row content">
        <h1 class="sec01">국민은행 파업</h1>
        <p>
            박홍배 국민은행 노조위원장은 8일 서울 송파구 잠실 학생체육관에서 총파업 선포식을 열고 "지난해 10월부터 이어진 열 차례 넘는 교섭과 주말, 오늘 새벽까지 (협상에서도) 사용자 측은 주요 안건에 별다른 입장 변화 없이 본인들의 입장을 강요하고 있다"며 파업 돌입을 선포했다.
        </p>
        <h1 class="sec02">황의조, 폭스스포츠 한국-필리핀전 최고 평점…'완벽한 마무리'</h1>
        <p>
            한국은 7일(한국시각) 아랍에미리트(UAE) 두바이서 열린 2019 아시안컵 C조 1차전에서 필리핀에 힘겨운 1-0 승리를 거뒀다. 이날 경기서 필리핀 수비 공략에 고전한 한국은 후반 21분 선제 결승골을 터트렸다. 황의조는 페널티지역 오른쪽을 돌파한 황희찬의 패스를 페널티지역 한복판에서 이어받은 후 특유의 오른발 터닝 슈팅으로 골망을 흔들었다.
        </p>
        <h1 class="sec03">첫 화면에 내보낼 내용 3</h1>
        <p></p>
        <h1 class="sec04">첫 화면에 내보낼 내용 4</h1>
        <p></p>
    </div>
    <script type="text/javascript" src="~/lib/jquery-3.2.1.min.js"></script>
    <script type="text/javascript">
        $(window).scroll(function () {
            if ($(window).scrollTop() > 100) {
                $('.main_h').addClass('sticky');
            } else {
                $('.main_h').removeClass('sticky');
            }
        });
        $('.mobile-toggle').click(function () {
            if ($('.main_h').hasClass('open-nav')) {
                $('.main_h').removeClass('open-nav');
            } else {
                $('.main_h').addClass('open-nav');
            }
        });
        $('.main_h li a').click(function () {
            if ($('.main_h').hasClass('open-nav')) {
                $('.navigation').removeClass('open-nav');
                $('.main_h').removeClass('open-nav');
            }
        });
        $('nav a').click(function (event) {
            var id = $(this).attr("href");
            var offset = 70;
            var target = $(id).offset().top - offset;
            $('html, body').animate({
                scrollTop: target
            }, 500);
            event.preventDefault();
        });
    </script>
</body>
</html>
