@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Head{
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="~/css/roomTest.css" rel="stylesheet" />
}

<section id="roomWrapper">
    <div id="followMouse">
        <span>ROOMS & RATES</span>
    </div>
    <div id="roomHeader">
        <h5>SEOGWIPEAN</h5>
        <div id="roomIntro">
            <p>안녕하세요, 호텔 서귀피안 입니다.</p>
            <p>호텔 서귀피안은 저희 호텔에 머무시는 기간 편안한 공간을 제공하기위해 최선을 다하고 있습니다.</p>
            <p>저희 호텔에서 느끼실수 있는 서귀포의 오션뷰와 제주도의 자연이 주는 편안함은 손님께 행복한 추억으로 기억될것입니다.</p>
            <p>감사합니다.</p>
        </div>
    </div>

    <div id="detailWrapper">

        <div class="roomDetail">
            <div class="detailLeft">
                <div class="detailImgDesc" data-type="standard">
                    <div>STANDARD</div>
                    <div>View More</div>
                </div>
                <img src="~/testFolder/Standard.png" />
            </div>
            <div class="detailRight">
                <h1>STANDARD</h1>
                <p>오션뷰의 멋진 경치</p>
                <p>스탠다드룸은</p>
                <p>쾌적한 룸을 자랑합니다.</p>
            </div>
            <div class="detailBooking rightSide">
                <div>예약하기</div>
                <div>STANDARD</div>
            </div>
        </div>


        <div class="roomDetail">
            <div class="detailLeftReverse">
                <div class="detailImgDescReverse" data-type="twin">
                    <div>TWIN</div>
                    <div>View More</div>
                </div>
                <img src="~/testFolder/Twin.png" />
            </div>
            <div class="detailRightReverse">
                <h1>TWIN</h1>
                <p>편안함이 묻어나는</p>
                <p>트윈룸은</p>
                <p>품격 있는 휴식을 자랑합니다.</p>
            </div>
            <div class="detailBooking leftSide">
                <div>예약하기</div>
                <div>TWIN</div>
            </div>
        </div>


        <div class="roomDetail">
            <div class="detailLeft">
                <div class="detailImgDesc" data-type="deluxe">
                    <div>DELUXE</div>
                    <div>View More</div>
                </div>
                <img src="~/testFolder/Deluxe.png" />
            </div>
            <div class="detailRight">
                <h1>DELUXE</h1>
                <p>안락함이 최상인</p>
                <p>디럭스룸은</p>
                <p>쾌적한 룸을 자랑합니다.</p>
            </div>
            <div class="detailBooking rightSide">
                <div>예약하기</div>
                <div>DELUXE</div>
            </div>
        </div>
    </div>

    <div id="detailView">
        <div id="detailViewInner">
            <div id="XBtn"></div>
            <div id="mainPicture">
                <div id="mainImage"></div>
            </div>
            <div id="subPicture">
                <img src="~/rooms/Standard/std1.jpg" />
                <img src="~/rooms/Standard/std2.jpg" />
                <img src="~/rooms/Standard/std3.jpg" />
            </div>
            <div id="detailDescription">
                <div>
                    <h2>STANDARD</h2>
                </div>
                <div id="minDesc">
                    <div>
                        <p>객실크기</p>
                        <p>침대타입</p>
                        <p>권장/최대 인원</p>
                        <p>전망</p>
                        <p>위치</p>
                    </div>
                    <div>
                        <p>23.58㎡</p>
                        <p>퀸 사이즈 베드 1개</p>
                        <p>성인 2명</p>
                        <p>오션뷰</p>
                        <p>2 ~ 5층</p>
                    </div>
                </div>
                <div id="maxDesc">
                    <div><p>이용안내</p></div>
                    <div>
                        <p>TV, 전화기, 개인금고, 실내용 슬리퍼, 이불 및 베개, 매트리스</p>
                        <p>페이스타월 / 배스타월, 샴푸, 컨디셔너, 바디워시, 바디로션</p>
                        <p>생수 2병, 티백, 물컵, 헤어드라이기, 전기포트</p>
                        <p>온도 조절 시스템, 유무선 인터넷, 220V 전원, IPTV</p>
                        <br />
                        <p>모든 객실은 흡연이 금지되어 있습니다.</p>
                        <p>영유아의 안전을 위해 항상 보호자의 보호와 통제가 필요합니다.</p>
                        <p>애완용 동물, 발화 또는 인화성 위험물은 반입을 삼가주시기 바랍니다.</p>

                    </div>
                </div>

            </div>

        </div>

    </div>

</section>


@section EndBody{
    <script type="text/javascript">
        var _mouseY;
        $(function () {
            $(document).mousemove(function (e) {
                _mouseY = e.pageY;
                if (_mouseY > 120 && _mouseY < 3290) {
                    $("#followMouse > span").css("top", eval(_mouseY - 170));
                }
            });

            if (screen.width <= 425) {
                $("#roomWrapper").css("width", screen.width);
            }
        });

        $(".detailImgDesc, .detailImgDescReverse").click(function () {
            var _type = $(this).data("type");
            fnDetail(_type);
        });

        $("#XBtn").click(function () {
            $("#detailView").fadeOut(1000);
            setTimeout(function () { $("body").css("overflow-y", "auto") }, 1000);
        });


        function fnDetail(_type) {
            if (_type === "standard") {
                $("#subPicture img:eq(0)").attr("src", "../rooms/Standard/std1.jpg");
                $("#subPicture img:eq(1)").attr("src", "../rooms/Standard/std2.jpg");
                $("#subPicture img:eq(2)").attr("src", "../rooms/Standard/std3.jpg");
            } else if (_type === "twin") {
                $("#detailDescription h2").html("TWIN");
                $("#detailDescription #minDesc div:eq(1) p:eq(1)").html("슈퍼 싱글 사이즈 베드 2개");
                $("#detailDescription #minDesc div:eq(1) p:eq(2)").html("성인 2명 / 성인 2명, 아동 1명");
                $("#subPicture img:eq(0)").attr("src", "../rooms/Twin/twin1.jpg");
                $("#subPicture img:eq(1)").attr("src", "../rooms/Twin/twin2.jpg");
                $("#subPicture img:eq(2)").attr("src", "../rooms/Twin/twin3.jpg");
            } else if (_type === "deluxe") {
                $("#detailDescription h2").html("DELUXE");
                $("#detailDescription #minDesc div:eq(1) p:eq(0)").html("29.61㎡");
                $("#detailDescription #minDesc div:eq(1) p:eq(2)").html("성인 2명 / 성인 3명");
                $("#subPicture img:eq(0)").attr("src", "../rooms/Deluxe/deluxe1.jpg");
                $("#subPicture img:eq(1)").attr("src", "../rooms/Deluxe/deluxe2.jpg");
                $("#subPicture img:eq(2)").attr("src", "../rooms/Deluxe/deluxe3.jpg");
            }
            var _imgUrl = $("#detailViewInner #subPicture img:eq(0)").attr("src");
            $("#detailViewInner #mainImage").css("background", `url(${_imgUrl}) 0 0 no-repeat`);
            $("#detailViewInner #mainImage").css("background-size", "cover");

            $("#detailView").fadeIn(1000);
            $("body").css("overflow-y", "hidden");
            window.scrollTo(0, 0);
        }

        $("#subPicture img").click(function () {
            var _imgUrl = $(this).attr("src");
            $("#detailViewInner #mainImage").css("background", `url(${_imgUrl}) 0 0 no-repeat`);
            $("#detailViewInner #mainImage").css("background-size", "cover");
        });

        $(".detailBooking").click(function () {
            window.open('https://be.wingsbooking.com/ko/SGP1/redirect/', '_blank');
        });

    </script>

}