@*@@using Hoon.Service.Member*@
@using Microsoft.AspNetCore.Http.Extensions
@{
    //var member = MemberSessionService.GetMemberSession(this.Context.Session);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hotel Seogwipean Web Site">
    <meta name="description" content="Hotel Seogwipean Web Site">
    <meta property="og:description" content="Hotel Seogwipean Web Site">
    <meta property="og:image" content="http://hotelseogwipean.com/images/logo.png">
    <meta property="og:url" content="http://hotelseogwipean.com/">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Hotel Seogwipean</title>
    <link href="~/css/layout.css" rel="stylesheet" type="text/css" />
    <link href='~/css/seogwipean.css' rel='stylesheet' type='text/css'>
    <link href="~/css/custom-alert.css" rel="stylesheet" />
    @RenderSection("Head", required: false)
</head>

<body>
    <header class="main_h sticky">
        <div class="row">
            <a class="logo" href="/"><span>Hotel</span><br /><span>Seogwipean</span></a>
            <div class="mobile-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <nav>
                <ul>
                    <li><a href="/hotel">The Hotel</a></li>
                    <li><a href="/room">Rooms ＆ Suits</a></li>
                    <li><a href="/offers">Offers</a></li>
                    <li><a href="/location">Location</a></li>
                </ul>
            </nav>
        </div> <!-- / row -->
        <div class="booking">
            <a>예약하기</a>
        </div>
    </header>
    <section class="wrapper">
            @RenderBody()
    </section>
    <footer class="footer">
        <p class="signature">Copyrightⓒ 2019. <a>Seogwipean Co., Ltd</a>. All rights reserved.</p>
    </footer>
    <script src="~/lib/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-ui.min.js"></script>
    <script src="~/lib/custom-alert.js"></script>

    <script type="text/javascript">

        $(function () {
            window.location.href = "/booking";
        });

        // 알림창 변경
        new customAlert();
        $('.mobile-toggle').click(function () {
            if ($('.main_h').hasClass('open-nav')) {
                $('.main_h').removeClass('open-nav');
                $('nav ul li a').css('display', 'none');
            } else {
                $('.main_h').addClass('open-nav');
                $('nav ul li a').css('display', 'block');
            }
        });
        $('.main_h li a').click(function () {
            if ($('.main_h').hasClass('open-nav')) {
                $('.navigation').removeClass('open-nav');
                $('.main_h').removeClass('open-nav');
            }
        });
        $('nav a').click(function (event) {
            var id = $(this).attr("href");
            var offset = 70;
            var target = $(id).offset().top - offset;
            $('html, body').animate({
                scrollTop: target
            }, 500);
            event.preventDefault();
        });

    </script>
    @RenderSection("EndBody", required: false)
</body>
</html>
