@*@@using Hoon.Service.Member*@
@using Microsoft.AspNetCore.Http.Extensions
@{
    //var member = MemberSessionService.GetMemberSession(this.Context.Session);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <title>@ViewData["Title"] - Hoon</title>
    <link href="~/css/custom-alert.css" rel="stylesheet" />
    @RenderSection("Head", required: false)
</head>
 
<body>
    @RenderBody()
    <script src="~/lib/jquery-3.2.1.min.js"></script>
    <script src="~/lib/custom-alert.js"></script>
    <script>
        new customAlert();
    </script>
    @RenderSection("EndBody", required: false)
</body>
</html>
