@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Hotel Seogwipean">
    <meta name="description" content="호텔 서귀피안에 오신 것을 환영합니다.">
    <meta property="og:description" content="호텔 서귀피안에 오신 것을 환영합니다.">
    <meta property="og:image" content="http://hotelseogwipean.com/logo.png">
    <meta property="og:url" content="http://hotelseogwipean.com/">
    <link rel="apple-touch-icon" sizes="57x57" href="/favicon/apple-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/favicon/apple-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/favicon/apple-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/favicon/apple-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/favicon/apple-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/favicon/apple-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/favicon/apple-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/favicon/apple-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/favicon/apple-icon-180x180.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/favicon/android-icon-192x192.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="96x96" href="/favicon/favicon-96x96.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon/favicon-16x16.png">
    <meta name="msapplication-TileColor" content="#ffffff">
    <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <title>Hotel Seogwipean</title>
    <link href="~/css/custom-alert.css" rel="stylesheet" />
    <link href="~/css/booking.css" rel="stylesheet" />

</head>
<body>
    <div id="loaderBox">
        <div class="spinner">
            <div class="dot1"></div>
            <div class="dot2"></div>
        </div>
    </div>

    <div class="dim-layer">
        <div class="dimBg"></div>
        <div id="layer2" class="pop-layer">
            <div class="pop-container" id="pop1">
                <div class="pop-header">
                    <span>조회 내역</span>
                </div>
                <div class="pop-conts">
                    <div class="form-group">
                        <h2 class="heading">예약자 성함</h2>
                    </div>
                    <span id="foundName"></span>
                    <div class="form-group">
                        <h2 class="heading">연락처</h2>
                    </div>
                    <span id="foundPhone"></span>
                    <div class="form-group">
                        <h2 class="heading">체크인</h2>
                    </div>
                    <span id="foundCheckIn"></span>
                    <div class="form-group">
                        <h2 class="heading">체크아웃</h2>
                    </div>
                    <span id="foundCheckOut"></span>
                    <div class="form-group">
                        <h2 class="heading">투숙 기간</h2>
                    </div>
                    <span id="foundDay"></span>
                    <div class="form-group">
                        <h2 class="heading">투숙 인원 수</h2>
                    </div>
                    <span id="foundHeadCount"></span>
                    <div class="form-group">
                        <h2 class="heading">희망 객실</h2>
                    </div>
                    <span id="foundRoomType"></span>
                    <div class="form-group">
                        <h2 class="heading">요청사항</h2>
                    </div>
                    <span id="foundRequest"></span>

                    <div class="btn-r">
                        <a href="#" class="btn-layerClose">닫기</a>
                    </div>
                </div>
            </div>
            <div class="pop-container" id="pop2">
                <div class="pop-header">
                    <span>예약 조회</span>
                </div>
                <div class="pop-conts">
                    <!--content //-->
                    <p class="ctxt mb20">
                        <div class="controls">
                            <input type="text" id="findName" class="floatLabel" name="findName">
                            <label for="findName">예약자 성함</label>
                        </div>
                        <div class="controls">
                            <input type="tel" id="findPhone" class="floatLabel" name="findPhone" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                            <label for="findPhone">연락처</label>
                        </div>
                        <span class="addText">예약하실때 기입한 예약자 정보와 동일하게 입력해주세요.</span>
                    </p>
                    <div class="btn-r">
                        <a href="#" class="btn-layerClose">닫기</a>
                        <a href="#" id="btnFindBook">조회</a>
                    </div>
                    <!--// content-->
                </div>
            </div>
        </div>
    </div>


    <div style="margin-top: 50px;">
        <img id="logo" src="~/images/logo.png" />
    </div>
    <form action="">
        <!--  General -->
        <div class="form-group">
            <h2 class="heading">Booking & contact</h2>
            <div class="controls">
                <input type="text" id="name" class="floatLabel" name="name">
                <label for="name">예약자 성함</label>
            </div>
            <div class="controls">
                <input type="text" id="email" class="floatLabel" name="email">
                <label for="email">이메일</label>
            </div>
            <div class="controls">
                <input type="tel" id="phone" class="floatLabel" name="phone" onKeyup="this.value=this.value.replace(/[^0-9]/g,'');">
                <label for="phone">연락처</label>
            </div>
            <div class="controls">
                <input type="text" id="recommender" class="floatLabel" name="recommender">
                <label for="country">추천인</label>
            </div>
        </div>
        <!--  Details -->
        <div class="form-group">
            <h2 class="heading">Details</h2>
            <div class="grid">
                <div class="col-1-2 col-1-2-sm">
                    <div class="controls">
                        <input type="date" id="startDate" class="floatLabel" name="startDate" min="2019-05-15" max="2019-05-31" value="<?php echo date('Y-m-d'); ?>">
                        <label for="arrive" class="label-date"><i class="fa fa-calendar"></i>Check-In</label>
                    </div>
                </div>
                <div class="col-1-2 col-1-2-sm">
                    <div class="controls">
                        <input type="date" id="endDate" class="floatLabel" name="endDate" min="2019-05-15" max="2019-05-31" value="<?php echo date('Y-m-d'); ?>" />
                        <label for="depart" class="label-date"><i class="fa fa-calendar"></i>Check-Out</label>
                    </div>
                </div>
            </div>
            <div class="grid">
                <div class="col-1-2 col-1-2-sm">
                    <div class="controls">
                        <i class="fa fa-sort"></i>
                        <select class="floatLabel">
                            <option value="1" selected>1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                        <label for="fruit"><i class="fa fa-male"></i>투숙 인원수</label>
                    </div>
                </div>
                <div class="col-1-2 col-1-2-sm">
                    <div class="controls">
                        <i class="fa fa-sort"></i>
                        <select class="floatLabel">
                            <option value="랜덤">랜덤</option>
                            <option value="스탠다드">스탠다드</option>
                            <option value="스탠다드 트윈">스탠다드 트윈</option>
                            <option value="슈페리어">슈페리어</option>
                            <option value="디럭스">디럭스</option>
                            <option value="온돌">온돌</option>
                        </select>
                        <label for="fruit">객실 타입</label>
                    </div>
                </div>
            </div>
            <div class="grid">
                <p class="info-text">요청 사항에 대해 기입해주세요.</p>
                <br>
                <div class="controls">
                    <textarea name="comments" class="floatLabel" id="comments"></textarea>
                    <label for="comments">Comments</label>
                </div>
            </div>
        </div> <!-- /.form-group -->

        <div style="margin: 0 auto; text-align:center; display: inline-block;">
            <button type="button" href="#layer2" id="checkBook" style="width: 100px; border-radius: 3px; margin-left: 10px;">예약 확인</button>
            <button type="button" id="submit" style="width: 400px; border-radius: 3px;">시숙 예약하기</button>
        </div>
    </form>
   
    <footer class="footer">
        <p class="signature">Copyrightⓒ 2019. <a>Seogwipean Co., Ltd</a>. All rights reserved.</p>
    </footer>

    <script src="~/lib/jquery-3.2.1.min.js"></script>
    <script src="~/lib/jquery-ui.min.js"></script>
    <script src="~/lib/custom-alert.js"></script>
    <script type="text/javascript">
        new customAlert();

        $(function () {
            var today = Number(new Date().toISOString().slice(8, 10));
            if (today < 15)
                document.getElementById('startDate').value = "2019-05-15";
            else
                (document.getElementById('startDate').value = new Date().toISOString().slice(0, 8)) + today.toString();
        });

        (function ($) {
            function floatLabel(inputType) {
                $(inputType).each(function () {
                    var $this = $(this);
                    $this.focus(function () {
                        $this.next().addClass("active");
                    });
                    $this.blur(function () {
                        if ($this.val() === '' || $this.val() === 'blank') {
                            $this.next().removeClass();
                        }
                    });
                });
            }
            floatLabel(".floatLabel");
        })(jQuery);

        $("#submit").click(function () {
            var _validation = false;
            var userName = $("#name").val().trim();
            var email = $("#email").val().trim();
            var phone = $("#phone").val().trim();
            var recommender = $("#recommender").val().trim();
            var headCount = $("select:eq(0)").val().trim();
            var roomType = $("select:eq(1)").val().trim();
            var request = $("#comments").val();
            if (userName == null || userName == "") {
                alert("예약자 성함을 입력해주세요."); $("#name").focus();
            } else if (email == null || email == "") {
                alert("이메일을 입력해주세요."); $("#email").focus();
            } else if (phone == null || phone == "") {
                alert("연락처를 입력해주세요."); $("#phone").focus();
            } else if (recommender == null || recommender == "") {
                alert("추천인을 입력해주세요."); $("#recommender").focus();
            } else if ($("#endDate").val() == "") {
                alert("퇴실일을 선택해주세요."); $("#endDate").focus();
            } else {
                _validation = true;
            }

            var _startDate = Number($("#startDate").val().trim().slice(8, 10));
            var _endDate = Number($("#endDate").val().trim().slice(8, 10));
            if (_startDate > _endDate) {
                alert("체크아웃 날짜는 체크인 날짜보다 늦어야합니다."); return;
            }
            if (_validation) {
                scroll(0, 0);
                $("#loaderBox").show();
                phone = phone.replace(/(^02.{0}|^01.{1}|[0-9]{3})([0-9]+)([0-9]{4})/, "$1-$2-$3");
                var _vm = new Object();
                _vm.UserName = userName;
                _vm.Email = email;
                _vm.Phone = phone;
                _vm.Recommender = recommender;
                _vm.HeadCount = headCount;
                _vm.RoomType = roomType;
                _vm.Request = request;
                _vm.StartDate = $("#startDate").val().trim();
                _vm.EndDate = $("#endDate").val().trim();
                $.ajax({
                    url: '/booking/add',
                    type: 'POST',
                    dataType: 'JSON',
                    data: _vm,
                    success: function (data) {
                        setTimeout(function () {
                            alert("시숙 예약이 완료되었습니다.", function () {
                                window.location.href = "/";
                            });
                            $("#loaderBox").hide();
                        }, 2000);
                    },
                    error: function (data) {
                        console.log(data);
                        $("#loaderBox").hide();
                    }
                });
            }
            return;
        });

        $('#checkBook').click(function () {
            var $href = $(this).attr('href');
            layer_popup($href);
            pop1();
        });

        function layer_popup(el) {
            var $el = $(el);        //레이어의 id를 $el 변수에 저장
            var isDim = $el.prev().hasClass('dimBg');   //dimmed 레이어를 감지하기 위한 boolean 변수
            isDim ? $('.dim-layer').fadeIn() : $el.fadeIn();
            var $elWidth = ~~($el.outerWidth()),
                $elHeight = ~~($el.outerHeight()),
                docWidth = $(document).width(),
                docHeight = $(document).height();
            // 화면의 중앙에 레이어를 띄운다.
            if ($elHeight < docHeight || $elWidth < docWidth) {
                $el.css({
                    marginTop: -$elHeight / 2,
                    marginLeft: -$elWidth / 2
                })
            } else {
                $el.css({ top: 0, left: 0 });
            }

            $el.find('a.btn-layerClose').click(function () {
                isDim ? $('.dim-layer').fadeOut() : $el.fadeOut(); // 닫기 버튼을 클릭하면 레이어가 닫힌다.
                return false;
            });

            $('.layer .dimBg').click(function () {
                $('.dim-layer').fadeOut();
                return false;
            });

        }

        $("#btnFindBook").click(function () {
            var __vm = new Object();
            var findName = $("#findName").val().trim();
            var findPhone = $("#findPhone").val().trim();
            if (findName.length < 1 && findPhone.length < 1) {
                alert("예약자 성함 또는 연락처를 기입해주세요."); return;
            }
            __vm.UserName = findName;
            __vm.Phone = findPhone;
            $.ajax({
                url: '/booking/GetBooking',
                type: 'POST',
                dataType: 'JSON',
                data: __vm,
                success: function (data) {
                    pop2();
                    var _data = data.data[0];
                    var _day = Number(_data.startDate.slice(8, 10)) - Number(_data.startDate.slice(8, 10));
                    var dayText = _day + "박" + " " + eval(_day + 1) + "일";
                    console.log(_day);
                    console.log(dayText);
                    $("#foundName").html(_data.userName);
                    $("#foundPhone").html(_data.phone);
                    $("#foundCheckIn").html(_data.startDate.slice(0, 10));
                    $("#foundCheckOut").html(_data.endDate.slice(0, 10));
                    $("#foundDay").html(dayText);
                    $("#foundHeadCount").html(_data.headCount + "명");
                    $("#foundRoomType").html(_data.roomType);
                    $("#foundRequest").html(_data.request);
                },
                error: function (data) {
                    console.log(data);
                }
            });
        });

        function pop1() {
            $("#pop1").hide();
            $("#pop2").show();
        }

        function pop2() {
            $("#pop2").hide();
            $("#pop1").show();
        }
    </script>

</body>
</html>
